<div class="side-nav-content">
    <img class="logo img-fluid"> 
    <span class="fs-4 m-2 "><strong > Hi User :)</strong></span>
    <ul class="nav-list ">
        <li class="nav-list-item " *ngFor="let item of list">
            <i class="{{item.icon}}"></i>
            <span >
                  <a href ="#">{{item.name}}</a>
            </span>
        </li>
        <div class="divider mt-3"></div>
        <li class="nav-list-item">
            <i class="fa-solid fa-box-archive"></i>
            <span>
                <a href ="#">Boxed Used</a>
            </span>
            
        </li>
        <div class="progress">
            <div class="progress-bar colorPrimary" role="progressbar" aria-label="Warning example" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <a class="text-center  ">3 of 6 boxes used</a>


        <div class="d-grid col-6 mx-auto m-5">
            <button class="btn colorPrimary" type="button">Buy Boxes</button>
        </div>
    </ul>
    

</div>
