<div class="container-fluid m-3">
    <div class="d-grid d-md-flex justify-content-md-end me-3">
        <button class="btn colorPrimary me-md-2" type="button" routerLink="/add-box" data-bs-toggle="modal" data-bs-target="#exampleModal"> + Add Box</button>
    </div>
    <div class="my-5">
        <span class="fs-3 me-5 " style="color:orange" ><strong>All Boxes</strong> </span>

    </div>
    
    <div class="card colorSecondary" style="width:25rem;" type="button">
            <div class="card-body">
                    <div class="d-grid d-md-flex "> 
                        <h5 class="">Box 1</h5>
                        <button class="btn colorSecondary " type="button" routerLink=""  data-bs-toggle="modal" data-bs-target=""><i class="fa-solid fa-ellipsis " ></i></button>
                    </div>  
            </div>

            <div class="divider"></div>
            <div class="card-footer">
                <p class="card-text">Author</p>

            </div> 
    </div>


</div>


