<div class="container-fluid g-0">
<!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <span class="fs-3 me-5" style="color:orange" ><strong>Squirrel's Box</strong> </span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <form class="container-fluid " role="search">
          <input class="form-control " type="search" placeholder="Search" aria-label="Search">
        </form>
  
        <ul class="navbar-nav  ">
          <li class="nav-item me-4">
            <img src="../assets/Icons/icons8-ajustes-32.png ">
          </li>
          <li class="nav-item me-4">
            <img src="../assets/Icons/icons8-usuario-32.png ">
          </li>
          <li class="nav-item me-4">
            <img src="../assets/Icons/icons8-exit-32.png ">
          </li>
          
        </ul>
      </div>
      
    </div>
    
  </nav>
  <main>
      <app-side-nav></app-side-nav>
      <app-banner-hi></app-banner-hi>
  </main>
</div>