
<div class="container-fluid m-3">
    <div class="d-grid d-md-flex justify-content-md-end me-3">
        <button class="btn colorPrimary me-md-2" type="button" routerLink="/add-section" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> + Add Section</button>
    </div>
<div class="my-5">
    <span class="fs-3 me-5 " style="color:orange" ><strong>All Sections</strong> </span>

</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card colorPrimary" style="width: 18rem;" type="button">
            <div class="card-body">
                <div class="d-grid d-md-flex "> 
                    <h5 class="card-title me-md-5">Section 1   </h5>
                    <button class="btn colorPrimary " type="button" routerLink="/edit-section"  data-bs-toggle="modal" data-bs-target="#modalEdit"><i class="fa-solid fa-ellipsis me-5" ></i></button>
        
                </div>    
              <p class="card-text">Create:12/06/22</p>
            </div>
        </div>

    </div>
    
</div>


</div>

