
  <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " >
      <div class="modal-content colorPrimary">
        <div class="modal-header">
          <h5 class="modal-title colorText " id="staticBackdropLabel"><strong>Add your section</strong></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span class=" fs-5"> <strong> Box 1</strong> </span>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Section Name</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Section Name">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Section Color</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Blue">
          </div>
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn colorButton">Add Section</button>
        </div>
      </div>
    </div>
  </div>