<app-header></app-header>
<!-- Banner Box -->
<div class="container-fluid colorPrimary">
    <p class="fw-bold text-center fs-3 p-3" href="#">
      Box 1 Section 1
    </p>
  </div>

  <!--  Section Items-->
  <div class="container-fluid m-3">
      <div class="d-grid d-md-flex justify-content-md-end me-3">
          <button class="btn colorPrimary me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#modalAddItem"> + Add Item</button>
      </div>




  <div class=" card me-5 my-5 shadow p-3 mb-5 bg-body rounded">
      <span class="card-title " >All Items</span>

            <div class="table-responsive" >
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Amount</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let item of itemList">
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.amount}}</td>
                        <td> <button class="btn colorPrimary shadow" type="button" data-bs-toggle="modal" data-bs-target="#modalView" style="width: 10rem;" (click)="datos(item)"> Ver</button></td>
                        <td> <button class="btn colorPrimary shadow" type="button" data-bs-toggle="modal" data-bs-target="#modalEditItem" style="width: 10rem;" (click)="datos(item)"> Editar</button></td>
                        <td> <button class="btn colorPrimary shadow" type="button" data-bs-toggle="modal" data-bs-target="#modalDeleteItem" style="width: 10rem;" (click)="datos(item)"> Eliminar</button></td>

                    </tr>

                    </tbody>
                </table>
            </div>

</div>

<!-- Modal Add Item -->

<div class="modal fade " id="modalAddItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " >
      <form class="modal-content colorModal" [formGroup]="itemForm">
        <div class="modal-header">
          <h5 class="modal-title colorText " id="staticBackdropLabel"><strong>Add your Item</strong></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span class=" fs-5"> <strong> Box 1,Section 1</strong> </span>
          <div class="mb-3">
            <label for="itemInput" class="form-label">Item</label>
            <input type="nameItem" class="form-control" id="itemInput" placeholder="Item 1" formControlName="name">
          </div>
          <div class="mb-3">
            <label for="exampleColorInput" class="form-label">Section Color</label>
            <input type="colorItem" class="form-control"  id="exampleColorInput" placeholder="Blue" formControlName="color">
          </div>
          <div class="mb-3">
            <label for="DescripcioInput" class="form-label">Descripcion</label>
            <input type="descripcion" class="form-control" id="DescripcioInput" placeholder="Enter your Descripcion here" formControlName="description">
          </div>
          <div class="mb-3">
            <label for="AmountInput" class="form-label">Amount</label>
            <input type="amount" class="form-control" id="AmountInput" placeholder="Ex. 1" formControlName="amount">
          </div>
          <div class="mb-3">
            <label for="PictureInput" class="form-label">Picture</label>
            <input type="file" class="form-control" id="PictureInput" formControlName="picture">
          </div>
          <div class="input-group  mb-3">
            <span class="input-group-text" id="basic-addon1">+</span>
            <input type="text" class="form-control" placeholder="Add characteristic" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn colorButton" data-bs-dismiss="modal" (click)="addItem()">Add Item</button>
        </div>
      </form>
    </div>
  </div>

<!-- Modal Edit Item -->

<div class="modal fade" id="modalEditItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " >
      <form class="modal-content colorModalEdit" [formGroup]="editForm">
        <div class="modal-header">
          <h5 class="modal-title colorText  " id="modalEditLabel"><strong>{{exampleItem.name}}</strong></h5>

          <button  class="btn colorModalEdit " type="button" data-bs-target="#delete" data-bs-toggle="modal" data-bs-dismiss="modal" > <i class="fa-solid fa-trash"></i></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="nameItemInput" class="form-label">Item name</label>
                <input type="nameItem" class="form-control" id="nameItemInput" placeholder="{{exampleItem.name}}" formControlName="name">
              </div>
          <span class=" fs-5 colorText"> <strong> Starred specs</strong> </span>

          <div class="mb-3">
            <label for="colorItemInput" class="form-label">Item Color</label>
            <input type="colorItem" class="form-control" id="colorItemInput" placeholder="{{exampleItem.color}}" formControlName="color">
          </div>

          <div class="mb-3">
            <label for="amountItemInput" class="form-label">Amount </label>
            <input type="amountItem" class="form-control" id="amountItemInput" placeholder="{{exampleItem.amount}}" formControlName="amount">
          </div>
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn colorButton" data-bs-dismiss="modal" (click)="updateItem()">Save</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>

<!-- Modal Delete Item -->

<div class="modal fade" id="modalDeleteItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " >
      <div class="modal-content colorModalEdit">
        <div class="modal-header">
          <h5 class="modal-title colorText  " id="modalEditLabel"><strong>Delete {{exampleItem.name}}</strong></h5>
        </div>
        <div class="modal-body">
          <span class=" fs-5">Are you sure delete item  <strong> {{exampleItem.name}}</strong> from section <strong>{{exampleItem.sectionId}}</strong> from box <strong>{{exampleItem.boxId}}</strong> </span>

        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-danger " (click)="deleteItem()" data-bs-dismiss="modal">Delete</button>
          <button type="button" class="btn colorButton" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
