.colorPrimary{
    background-color: #ff8a00;
    color:white;
}
.colorModal{
    background-color:  #fff7DA;
    
}
.colorText{
    color: #ff8a00;

}
.colorButton{
    background-color:  #ff8a00;
    color:white;
}

.colorModalEdit{
    background-color:  #fff7DA;
    
}
