<app-header></app-header>
<!-- Banner Box -->
<div class="container-fluid colorPrimary">
  <p class="fw-bold text-center fs-3 p-3" href="#">
    Box 1
  </p>
</div>

<!--  Section -->
<div class="container-fluid m-3">
    <div class="d-grid d-md-flex justify-content-md-end me-3">
        <button class="btn colorPrimary me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> + Add Section</button>
    </div>
<div class="my-5">
    <span class="fs-3 me-5 " style="color:orange" ><strong>All Sections</strong> </span>

</div>


<!--  Card Section -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let section of sectionList">
          <div class="card colorPrimary me-3" style="max-width: 25rem;" >
            <div class="d-grid gap-2 d-md-flex ">

                          <div class="card-body" type="button" routerLink="/Object" (click)="saveTempSection(section)">
                                      <div class="d-grid d-md-flex ">
                                          <h5 class="">{{ section.name }}   </h5>
                                      </div>
                          </div>

                          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn colorPrimary " (click)="datos(section)" type="button"  data-bs-toggle="modal" data-bs-target="#modalEdit"><i class="fa-solid fa-ellipsis me-5" ></i></button>
                          </div>
            </div>
              <div class="card-footer">
                <p class="card-text">Created at :{{ section.dateCreated.substring(0,10) }}</p>
              </div>
          </div>

  </div>

</div>



<!-- Modal Add Section-->
 <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " >
      <form class="modal-content colorModal" [formGroup]="sectionForm" >
        <div class="modal-header">
          <h5 class="modal-title colorText " id="staticBackdropLabel"><strong>Add your section</strong></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span class=" fs-5"> <strong> New Section</strong> </span>
          <div class="mb-3">
            <label for="nameSectionInput" class="form-label">Section Name</label>
            <input type="nameSection" class="form-control" id="nameSectionInput" placeholder="Section Name" formControlName="name">
          </div>
          <div class="mb-3">
            <label for="colorSectionInput" class="form-label">Section Color</label>
            <input type="colorSection" class="form-control" id="colorSectionInput" placeholder="Blue" formControlName="color">
          </div>
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn colorButton" (click)="addSection()">Add Section</button>
        </div>
      </form>
    </div>
  </div>

  <!-- MODAL PARA EDITAR -->
  <div class="modal fade" id="modalEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " >
      <form class="modal-content colorModalEdit" [formGroup]="editForm">
        <div class="modal-header">
          <h5 class="modal-title colorText  " id="modalEditLabel"><strong>Section {{exampleSection.name}}</strong></h5>

          <button  class="btn colorModalEdit " type="button" data-bs-target="#delete" data-bs-toggle="modal" data-bs-dismiss="modal" > <i class="fa-solid fa-trash"></i></button>
        </div>
        <div class="modal-body">
          <span class=" fs-5"> <strong> {{exampleSection.name}}</strong> </span>
          <div class="mb-3">
            <label for="nameSectionInput1" class="form-label">Section Name</label>
            <input type="nameSection" class="form-control" id="nameSectionInput1" placeholder="{{exampleSection.name}}" formControlName="name">
          </div>
          <div class="mb-3">
            <label for="colorSectionInput1" class="form-label">Section Color</label>
            <input type="colorSection" class="form-control" id="colorSectionInput1" placeholder="{{exampleSection.color}}" formControlName="color">
          </div>
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn colorButton " data-bs-dismiss="modal" (click)="updateSection()">Save</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>

<!--  MODAL DE ELIMINAR  -->
  <div class="modal fade" id="delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " >
      <div class="modal-content colorModalEdit">
        <div class="modal-header">
          <h5 class="modal-title colorText  " id="modalEditLabel"><strong>Delete {{exampleSection.name }}</strong></h5>
        </div>
        <div class="modal-body">
          <span class=" fs-5">Are you sure Delete Section<strong> {{exampleSection.name }}</strong> from Box <strong>{{nameBox }}</strong></span>

        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-danger " (click)="deleteSection()" data-bs-dismiss="modal">Delete</button>
          <button type="button" class="btn colorButton" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
